@page
@model EditModel
@{
    ViewData["Title"] = $"Edit a person";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="hidden" asp-for="Person.Id" class="form-control" id="id" aria-describedby="id">
        <span class="form-control text-muted">@Model.Person.Id</span>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input asp-for="Person.FirstName" class="form-control" id="firstName" aria-describedby="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input asp-for="Person.LastName" class="form-control" id="lastName" aria-describedby="lastName" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>